

.tab-form {
	width: 100%;
	height: 100%;
	display: block;
}

.main-info {
	width: 100%;
	height: 100px;
	margin-bottom: 20px;
	/*background-color: blue;*/
}

/* Profile picture */
.adopto-profile-picture {
	float: left;
	/*margin: 15px auto;*/
	width: 100px;
	height: 100%;
	border: 5px solid #ffffff;
	border-radius: 5px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/no-profile-pic.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.curr-info {
	float: left;
	width: calc(100% - 100px);
	height: 100%;
	padding-left: 15px;
	padding-top: 5px;
	position: relative;
}

	.curr-info p,
	.curr-info i {
		margin-bottom: 0;
		font-size: 14px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.curr-info i {
		position: relative;
		top: 2px;
	}

	.curr-info .name {
		font-size: 17px;
		text-overflow: clip;
		white-space: pre-line;
		overflow: visible;
	}

	.curr-info .currCompany {
	}

/* Form group */
.adopto-group {
	margin-bottom: 20px;
	padding: 6px;
	position: relative;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
	-moz-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
	/*margin-top: 10px;*/
}
.adopto-group h3 {
	margin-bottom: 10px;
}

.adopto-group .edit-icon,
.curr-info .edit-icon {
	position: absolute;
	top: 2px;
	right: 2px;
	font-size: 15px;
	cursor: pointer;
	color: #b9c1ca;
}

.adopto-group .edit-icon:hover {
	color: #67797b;
	/*font-size: 17px;*/
}

.adopto-group-title {
	color: #7ca2a2;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	/*text-align: right;*/
}

	.adopto-group-title i {
		position: relative;
		top: 5px;
	}

/* Form input */
.adopto-input i,
.adopto-input p,
.adopto-input a {
	float: left;
	height: 15px;
	line-height: 15px;
	font-size: 13px;
	margin-bottom: 0;
}

.adopto-input p,
.adopto-input a {
	margin-left: 10px;
}

.adopto-input,
.adopto-select,
.adopto-checkbox {
	display: block;
	position: relative;
	padding: 8px 0 !important;
	overflow: hidden;
}

	.adopto-input input::selection,
	.adopto-input textarea::selection {
		background-color: #00acac;
		color: #f9f7f6;
	}

	.adopto-input input,
	.adopto-input label,
	.adopto-input textarea,
	.adopto-selected,
	.adopto-select label,
	.adopto-select li,
	.adopto-checkbox label {
		width: 100%;
		background: transparent !important;
		font-family: 'Lato', sans-serif !important;
		font-weight: normal !important;
		font-size: 16px !important;
		letter-spacing: normal !important;
		word-spacing: normal !important;
		-webkit-font-smoothing: antialiased;
		box-shadow: none !important;
	}

	.adopto-input input,
	.adopto-input textarea,
	.adopto-selected {
		padding: 10px 4px !important;
		margin: 0 !important;
		border: none !important;
		border-bottom: 1px solid #b9c1ca !important;
		color: #595f6e;
	}

	.adopto-input textarea {
		display: block;
	}

	.adopto-input label,
	.adopto-select label {
		position: absolute;
		padding: 18px 4px;
		left: 0;
		top: 0px;
		color: #6a7989 !important;
		pointer-events: none !important;
		-webkit-user-select: none !important;
		cursor: default;
		transition: all 0.3s ease-in-out;
	}

	.adopto-input input:focus,
	.adopto-input textarea:focus {
		border: none;
		border-bottom: 1px solid #b9c1ca;
		box-shadow: none;
		outline: none;
	}

	.adopto-input.label-top label,
	.adopto-select.label-top label {
		padding: 2px 4px;
		color: #00acac !important;
		font-size: 12px !important;
	}

	.adopto-input.label-top.invalid label {
		color: #ff5b57 !important;
	}

		.adopto-input.label-top.invalid label:after {
			content: ' (invalid)';
		}

	.adopto-input:after,
	.adopto-select:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 8px;
		width: 0;
		border-bottom: 3px solid #00acac;
		transition: all 0.3s ease-in-out;
	}

	.adopto-input.label-top:after,
	.adopto-select.label-top:after {
		width: 100%;
	}

	.adopto-input.label-top.invalid:after {
		border-color: #ff5b57;
	}

	/* Dropdown */
	.adopto-select * {
		cursor: pointer;
	}

.adopto-selected {
	display: block;
	line-height: 16px;
	width: 100%;
}

	.adopto-selected i {
		position: absolute;
		right: 0px;
	}

.adopto-select ul {
	margin: 0;
	padding: 0;
	max-height: 0;
	overflow-x: hidden;
	overflow-y: auto list-style: none;
	transition: max-height 0.3s ease-in-out;
	border: 1px solid #b9c1ca;
	border-top: none;
	border-bottom: 0;
}

.adopto-active ul {
	max-height: 200px;
	border-bottom: 1px solid #b9c1ca;
}

.adopto-select li {
	padding: 10px 4px;
	color: #6a7989;
	transition: color 0.3s ease-in-out;
}

	.adopto-select li:hover {
		color: #00acac;
	}

/* Checkbox */
.adopto-checkbox {
}

	.adopto-checkbox input {
		display: none;
	}

	.adopto-checkbox label {
		color: #6a7989;
	}

	.adopto-checkbox span {
		position: relative;
		display: inline-block;
		overflow: hidden;
		top: 3px;
		width: 16px;
		height: 16px;
		background-color: transparent;
		border: 2px solid #6a7989;
		border-radius: 3px;
		text-align: center;
		transition: all 0.1s ease-in-out;
	}

		.adopto-checkbox span i {
			color: #ffffff;
			font-size: 0;
			line-height: 16px;
			transition: font-size 0.2s ease-in-out;
		}

	.adopto-checkbox input:checked + span {
		background-color: #00acac;
		border-color: #00acac;
	}

		.adopto-checkbox input:checked + span i {
			font-size: 16px;
		}


		.skillHolder span {
			border: 1px solid #006b6b;
			border-radius: 3px;
			margin-left: 5px;
			margin-top: 5px;
			padding: 3px;
			background-color: #009f9f;
			color: white;
			font-size: 13px;
		}




/*.tab-messages {
	width: 100%;
	height: 100%;
	display: none;
}*/


