/* Body */
body {
	/*transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);*/
	width: 100%;
}

	body.adopto-sidebar-show {
		/*width: calc(100% - 300px);*/
	}

		body.adopto-sidebar-show .adopto-sidebar {
			/*right: -50px;*/
		}

.adopto-hidden {
	display: none;
}


/* Google Material font */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: local('Material Icons'),
			local('MaterialIcons-Regular'),
			url('chrome-extension://__MSG_@@extension_id__/font/MaterialIcons-Regular.woff2') format('woff2');
	/*src: local('Material Icons'), local('MaterialIcons-Regular'), url('../font/MaterialIcons-Regular.woff2') format('woff2');*/
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	-webkit-font-feature-settings: 'liga';
}

/* Sidebar */
.adopto-sidebar {
	all: initial;
	display: block; /* Solves uncompatibility with 'LastPass' chrome extension */
	position: fixed;
	box-sizing: border-box;
	/*padding: 10px 60px 10px 10px;*/
	overflow: hidden;
	top: 0;
	right: -390px;
	/*right: 0px;*/
	width: 390px;
	height: 100%;
	background-color: #f9f7f6;
	border-left: 1px solid #dedcdb;
	z-index: 99999;
	-webkit-user-select: none;
	font-family: 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
	transition: box-shadow 0.4s ease-in-out, right 0.5s cubic-bezier(0.68, 0, 0.265, 1.15);
}

body.adopto-sidebar-show .adopto-sidebar {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

.adopto-sidebar ::-webkit-scrollbar {
	width: 6px;
}

.adopto-sidebar ::-webkit-scrollbar-thumb {
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}

/* top header */

.topHeader {
	width: calc(100% - 40px);
	height: 40px;
	border-bottom: 1px solid #eaeaea;
	border-right: 1px solid #eaeaea;
	font-family: 'Lato', sans-serif !important;
	position: relative;
	color: black;
}

	.topHeader i {
		color: black;
	}



/* Sidebar content */
.adopto-sidebar-content {
	position: absolute;
	overflow-x: hidden;
	overflow-y: auto;
	padding-bottom: 50px;
	top: 36px;
	bottom: 0;
	width: 280px;
	/*
		width: 270px;
		padding-right: 10px;
*/
}

/* Logo */
.adopto-logo {
	height: 40px;
	background-image: url('chrome-extension://__MSG_@@extension_id__/images/adopto-logo.svg');
	/*background-image: url('../images/adopto-logo.svg');*/
	background-size: auto 25px;
	background-position: 10px 50%;
	background-repeat: no-repeat;
}

.topHeader .backPane {
	opacity: 0;
	display: none;
}

/* Ribbon */
.adopto-bg-ribbon {
	position: absolute;
	left: -32px;
	top: 42px;
	width: 400px;
	height: 60px;
	background-color: #00acac;
	transform: rotateZ(-25deg);
	z-index: -1;
	transition: opacity 0.6s ease-in-out;
}

.adopto-ribbon-faded {
	opacity: 0.5;
}

/* Close button */
.topHeader .adopto-close {
	position: absolute;
	top: 7px;
	right: -33px;
	width: 26px;
	height: 26px;
	color: #ffffff;
	cursor: pointer;
	z-index: 1;
	transition: color 0.3s ease-in-out;
}

	.topHeader .adopto-close:hover i {
		color: #808080;
	}

/* Overlay */
.adopto-overlay {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 300px;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

/* Loader */
.adopto-loader-wrapper {
}

.adopto-loader-container {
	position: absolute;
	margin: auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
}

	.adopto-loader-container .shadow {
		position: absolute;
		left: 5px;
		bottom: -15px;
		width: 40px;
		height: 5px;
		background-color: rgba(20, 20, 20, 0.1);
		border-radius: 50%;
		box-shadow: 0 0 8px 5px rgba(20, 20, 20, 0.1);
	}

.adopto-loader {
	position: absolute;
	width: 50px;
	height: 50px;
	-webkit-animation: adopto-loader 1.2s linear infinite;
}

	.adopto-loader + .adopto-loader-shadow {
		content: '';
		ab: absolute;
		width: 100px;
		height: 20px;
		background-color: #ff5b57;
	}

	.adopto-loader > div {
		position: absolute;
	}

	.adopto-loader .el0,
	.adopto-loader .el1,
	.adopto-loader .el2 {
		background-color: #00acac;
	}

	.adopto-loader .el3,
	.adopto-loader .el4 {
		background-color: #7f7f7f;
	}

	.adopto-loader .el1,
	.adopto-loader .el3 {
		width: 30px;
		height: 10px;
	}

	.adopto-loader .el2,
	.adopto-loader .el4 {
		width: 10px;
		height: 40px;
	}

	.adopto-loader .el0 {
		left: 20px;
		top: 20px;
		width: 10px;
		height: 10px;
	}

	.adopto-loader .el1 {
		left: 0;
		top: 0;
	}

	.adopto-loader .el2 {
		left: 0;
		top: 10px;
	}

	.adopto-loader .el3 {
		left: 20px;
		top: 40px;
	}

	.adopto-loader .el4 {
		left: 40px;
		top: 0;
	}

@keyframes adopto-loader {
	from {
		transform: rotateY(0deg) rotateZ(45deg);
	}

	to {
		transform: rotateY(360deg) rotateZ(45deg);
	}
}



/* Source button */
.adopto-perspective {
	perspective: 500px;
}

.adopto-source {
	padding: 15px;
	/*width: 289px;*/
	width: 100%;
	background-color: #00acac;
	border: 1px solid #007878;
	border: none;
	color: #ffffff;
	/*font-family: 'Lato', sans-serif !important;*/
	font-size: 16px !important;
	font-weight: bold;
	cursor: pointer;
	/*transform-origin: bottom;
		transition: transform 0.2s ease-in-out;*/
}
/*  TODO: Future support;
	.adopto-source:hover {
		transform: rotateX(30deg);
	}
*/

/* Modal dialog */
.adopto-modal {
	position: absolute;
	box-sizing: border-box;
	margin: auto;
	padding: 10px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 90%;
	height: 120px;
	background-color: #ffffff;
	border: 1px solid #00acac;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	/*font-family: 'Lato', sans-serif !important;*/
	font-weight: normal;
	color: #222222;
}

.adopto-modal-button {
	position: absolute;
	display: block;
	padding: 10px;
	box-sizing: border-box;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	background-color: #00acac;
	border: none;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

	.adopto-modal-button:hover {
		background-color: #1fc3c3;
		color: #ffffff !important;
		text-decoration: none;
	}
