.adopto-details-pane .pane .main-info,
.adopto-details-pane .pane .desc {
	width: 100%;
	height: auto;
	/*background-color: red;*/
	font-size: 10pt;
	position: relative;
}

.adopto-details-pane .pane .main-info {
	padding-right: 45px;
}

.adopto-details-pane .pane .main-info .title,
.adopto-details-pane .pane .main-info .projectTitle {
	margin-bottom: 0px;
	text-transform: uppercase;
	font-size: 11pt;
	font-weight: bold;
	margin-top: 0;
	/*color: black;*/
}

.adopto-details-pane .pane .main-info .atPlaceHolder {
	margin-top: 5px;
}

.adopto-details-pane .pane .desc-info {
	/*background-color: blue;*/
	margin-top: 20px;
}

/*.adopto-details-pane .pane .main-info h3 {
	font-size: 11pt;
}*/

.adopto-details-pane .pane .main-info p {
	color: #808080;
}

.adopto-details-pane .pane .main-info p.timeSpanHolder {
	margin-bottom: 0;
	margin-top: 5px;
}

.adopto-details-pane .pane .main-info img {
	position: absolute;
	right: 5px;
	top: 5px;
	height: auto;
	width: auto;
	max-width: 40px;
	max-height: 40px;
}

.adopto-details-pane .pane .desc-info h4 {
	text-transform: uppercase;
	font-size: 9pt;
	color: #808080;
	font-weight: bold;
	margin-bottom: 5px;

}

.adopto-details-pane .timeSpanHolder span {
	color: rgb(128, 128, 128);
}